html {
  margin: 30px 0 0 0;
  padding: 0;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000;
}

h1 {
  font-size: 30pt;
  font-family: sans-serif, Helvetica;
  text-align: center;
  font-variant: small-caps;
  margin-bottom: -30px;
  color: #00FF00;
}

iframe {
  width: 65%;
  height: 400px;
  border: 0;
}

.illustration {
  max-width: 65%;
  max-height: 400px;
  border: 0;
  z-index: -1;
}

a:link {
  font: 10px Verdana, sans-serif;
  font-weight: bold;
  color: #00FF00;
  letter-spacing: 20px;
  text-decoration: none;
}

a:visited {
  color: #00FF00;
}

a:hover {
  color: #0050FF;
}

#green{
  color: #00FF00;
    letter-spacing: 10px;
}

/* MOBILE */
@media screen and (max-width: 800px) {
  iframe {
    width: 65%;
    height: 200px;
  }
}

/* TABLET */
@media screen and (min-width: 1000px) {
  iframe {
    width: 65%;
    height: 400px;
  }
}

/* DESKTOP */
@media screen and (min-width: 1500px) {
  iframe {
    width: 65%;
    height: 600px;
  }
  
  .i/llustration {
    max-width: 65%;
    max-height: 400px;
  }
}

