html {
  margin: 0;
  padding: 30px 0 0 0;
  text-align: center;
  background-image: -webkit-gradient(
    linear,
    center top,
    center bottom,
    color-stop(0.00, rgb(244,212,189)),
    color-stop(0.65, rgb(64,116,84)),
    color-stop(0.80, rgb(50,50,50))
  );
}

body {
  margin: 0;
  padding: 0 0 200px 0;
  background-color: transparent;
  text-align: center;
}



h1 {
  font: 50px Big Caslon, Times, serif;
  font-weight: normal;
  letter-spacing: 30px;
  text-align: center;
  margin: 100px 0 100px 0;
  color: transparent;
/**
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0.45, rgb(255,255,0)),
    color-stop(0.55, rgb(0,0,255))
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
**/
  text-shadow: 0px 0px 20px rgba(255,0,0,1);
  -ms-transform: skewY(-5deg);
  -webkit-transform: skewY(-5deg);
  transform: skewY(-5deg);
  -webkit-text-stroke: 2px red;
  z-index: 1;
}

h2 {
  font: 35px Big Caslon, Times, serif;
  font-weight: bold;
  letter-spacing: 15px;
  text-align: center;
  margin: 0 -10px -20px 0;
  color: transparent;
  position: absolute;
  left: 10%;
  right: 10%;
  overflow: visible;
/**
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0.45, rgb(0,0,255)),
    color-stop(0.55, rgb(255,255,0))
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
**/
  text-shadow: 0px 0px 15px rgba(255,0,0,1);
  -ms-transform: skewY(-5deg);
  -webkit-transform: skewY(-5deg);
  transform: skewY(-5deg);
  -webkit-text-stroke: 1px red;
  z-index: 1;
}

h3 {
  font: 25px Big Caslon, Times, serif;
  font-weight: bold;
  letter-spacing: 10px;
  text-align: center;
  margin: -50px 0 0 0;
  color: transparent;
  position: absolute;
  left: 10%;
  right: 10%;
  overflow: visible;
/**
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0.45, rgb(0,0,255)),
    color-stop(0.55, rgb(255,255,0))
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
**/
  text-shadow: 0px 0px 15px rgba(255,0,0,1);
  -ms-transform: skewY(-5deg);
  -webkit-transform: skewY(-5deg);
  transform: skewY(-5deg);
  -webkit-text-stroke: 1px red;
}



.grid {
  display: flex;
  flex-wrap: wrap;
}

.cell_01 {
  flex: 100% 100%;
  height: 500px;
  width: 500px;
  margin-bottom: 0px;
  background-image: url('images/light/vase_off_01.jpg');
  background-size: cover;
}

.cell_01 img {
	-webkit-transition: all ease 1s;
	-moz-transition: all ease 1s;
	-o-transition: all ease 1s;
	-ms-transition: all ease 1s;
	transition: all ease 1s;
  height: 500px;
  width: 500px;
  opacity: 0;
  -webkit-animation: 5s multi_rotate1 linear infinite;
}

.cell_01 img:hover {
	opacity: 1;
}

.cell_02 {
  flex: 100% 100%;
  height: 500px;
  width: 500px;
  margin-bottom: 0px;
  background-image: url('images/light/vase_off_08.jpg');
  background-size: cover;
}

.cell_02 img {
	-webkit-transition: all ease 1s;
	-moz-transition: all ease 1s;
	-o-transition: all ease 1s;
	-ms-transition: all ease 1s;
	transition: all ease 1s;
  height: 500px;
  width: 500px;
  opacity: 0;
  -webkit-animation: 6s multi_rotate1 linear infinite;
}

.cell_02 img:hover {
	opacity: 1;
}

.cell_03 {
  flex: 100% 100%;
  height: 500px;
  width: 500px;
  margin-bottom: 0px;
  background-image: url('images/light/vase_off_05.jpg');
  background-size: cover;
}

.cell_03 img {
	-webkit-transition: all ease 1s;
	-moz-transition: all ease 1s;
	-o-transition: all ease 1s;
	-ms-transition: all ease 1s;
	transition: all ease 1s;
  height: 500px;
  width: 500px;
  opacity: 0;
  -webkit-animation: 7s multi_rotate1 linear infinite;
}

.cell_03 img:hover {
	opacity: 1;
}

.cell_04 {
  flex: 100% 100%;
  height: 500px;
  width: 500px;
  margin-bottom: 0px;
  background-image: url('images/light/vase_off_04.jpg');
  background-size: cover;
}

.cell_04 img {
	-webkit-transition: all ease 1s;
	-moz-transition: all ease 1s;
	-o-transition: all ease 1s;
	-ms-transition: all ease 1s;
	transition: all ease 1s;
  height: 500px;
  width: 500px;
  opacity: 0;
  -webkit-animation: 8s multi_rotate1 linear infinite;
}

.cell_04 img:hover {
	opacity: 1;
}

.cell_05 {
  flex: 100% 100%;
  height: 500px;
  width: 500px;
  margin-bottom: 0px;
  background-image: url('images/light/vase_off_09.jpg');
  background-size: cover;
}

.cell_05 img {
	-webkit-transition: all ease 1s;
	-moz-transition: all ease 1s;
	-o-transition: all ease 1s;
	-ms-transition: all ease 1s;
	transition: all ease 1s;
  height: 500px;
  width: 500px;
  opacity: 0;
  -webkit-animation: .5s multi_rotate1 linear infinite;
}

.cell_05 img:hover {
	opacity: 1;
}

.cell_06 {
  flex: 100% 100%;
  height: 500px;
  width: 500px;
  margin-bottom: 0px;
  background-image: url('images/light/vase_off_02.jpg');
  background-size: cover;
}

.cell_06 img {
	-webkit-transition: all ease 1s;
	-moz-transition: all ease 1s;
	-o-transition: all ease 1s;
	-ms-transition: all ease 1s;
	transition: all ease 1s;
  height: 500px;
  width: 500px;
  opacity: 0;
  -webkit-animation: 10s multi_rotate1 linear infinite;
}

.cell_06 img:hover {
	opacity: 1;
}

.cell_07 {
  flex: 100% 100%;
  height: 500px;
  width: 500px;
  margin-bottom: 0px;
  background-image: url('images/light/vase_off_03.jpg');
  background-size: cover;
}

.cell_07 img {
	-webkit-transition: all ease 1s;
	-moz-transition: all ease 1s;
	-o-transition: all ease 1s;
	-ms-transition: all ease 1s;
	transition: all ease 1s;
  height: 500px;
  width: 500px;
  opacity: 0;
  -webkit-animation: 11s multi_rotate1 linear infinite;
}

.cell_07 img:hover {
	opacity: 1;
}

.cell_08 {
  flex: 100% 100%;
  height: 500px;
  width: 500px;
  margin-bottom: 0px;
  background-image: url('images/light/vase_off_07.jpg');
  background-size: cover;
}

.cell_08 img {
	-webkit-transition: all ease 1s;
	-moz-transition: all ease 1s;
	-o-transition: all ease 1s;
	-ms-transition: all ease 1s;
	transition: all ease 1s;
  height: 500px;
  width: 500px;
  opacity: 0;
  -webkit-animation: 12s multi_rotate1 linear infinite;
}

.cell_08 img:hover {
	opacity: 1;
}

.cell_09 {
  flex: 100% 100%;
  height: 500px;
  width: 500px;
  margin-bottom: 0px;
  background-image: url('images/light/vase_off_06.jpg');
  background-size: cover;
}

.cell_09 img {
	-webkit-transition: all ease 1s;
	-moz-transition: all ease 1s;
	-o-transition: all ease 1s;
	-ms-transition: all ease 1s;
	transition: all ease 1s;
  height: 500px;
  width: 500px;
  opacity: 0;
  -webkit-animation: 13s multi_rotate1 linear infinite;
}

.cell_09 img:hover {
	opacity: 1;
}


@-webkit-keyframes multi_rotate1 {
  0% {
    -webkit-filter:hue-rotate(0deg);
  }
  100% {
    -webkit-filter:hue-rotate(360deg);
  }
}



.center {
  margin: auto;
  width: 60%;
  text-align: center;
}

.illustration {
  width: 500px;
  border: 0;
}

a:link {
  font: 20px Big Caslon, Times, serif;
  font-weight: bold;
  color: transparent;
  letter-spacing: 20px;
  text-decoration: none;
  text-shadow: 0px 0px 10px rgba(255,0,0,1);
  -webkit-text-stroke: 1px red;
}

a:visited {
  color: transparent;
  text-shadow: 0px 0px 10px rgba(255,0,0,1);
  -webkit-text-stroke: 1px red;
}

a:hover {
  color: transparent;
  -webkit-text-stroke: 1px #1200FF;
  text-shadow: 0px 0px 20px rgba(18,0,255,1);
}

#green {
  color: red;
  letter-spacing: 10px;
  -ms-transform: skewY(-5deg);
  -webkit-transform: skewY(-5deg);
  transform: skewY(-5deg);
}

#skew {
  -ms-transform: skewY(-5deg);
  -webkit-transform: skewY(-5deg);
  transform: skewY(-5deg);
}

img {
  transition: 1s all;
}

img.blur {
	-webkit-filter: blur(50px);
	filter: blur(50px);
}

img.blur:focus, img.blur:hover {
	-webkit-filter: blur(0px);
	filter: blur(0px);
	filter: none;
	filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='0');
}


input {
  font: 20px Big Caslon, Times, serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 15px;
  text-align: center;
  t/ext-shadow: 0px 0px 10px rgba(255,0,0,1);
  -ms-transform: skewY(-5deg);
  -webkit-transform: skewY(-5deg);
  transform: skewY(-5deg);
  -webkit-text-stroke: 1px red;
  border: 1px solid red;
  padding: 10px;
  b/ox-shadow: 0px 0px 50px 20px rgba(255,0,0,1);

  width: 50%;
  background-color: transparent;
  margin: 0;

  -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
     -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
          box-sizing: border-box;
}

textarea {
  font: 20px Big Caslon, Times, serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 15px;
  text-align: center;
  t/ext-shadow: 0px 0px 15px rgba(255,0,0,.5);
  -ms-transform: skewY(-5deg);
  -webkit-transform: skewY(-5deg);
  transform: skewY(-5deg);
  -webkit-text-stroke: 1px red;
  border: 1px solid red;
  padding: 10px;

  width: 50%;
  height: 200px;
  background-color: transparent;
  margin: 0;

  -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
     -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
          box-sizing: border-box;
}

button {
  font: 20px Big Caslon, Times, serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 15px;
  text-transform: uppercase;
  text-align: center;
  t/ext-shadow: 0px 0px 10px rgba(255,0,0,1);
  -ms-transform: skewY(-5deg);
  -webkit-transform: skewY(-5deg);
  transform: skewY(-5deg);
  -webkit-text-stroke: 1px red;
  border: 1px solid red;
  padding: 10px;
  box-shadow: 0px 0px 50px 20px rgba(255,0,0,1);

  width: 50%;
  background-color: transparent;
  color: transparent;
  margin: 0;

  -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
     -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
          box-sizing: border-box;
}



/* MOBILE */
@media screen and (max-width: 960px) {

  iframe {
    width: 480px;
    height: 270px;
  }

  .square {
    width: 480px;
    height: 480px;
  }

  .illustration {
    max-width: 65%;
  }
}

/* TABLET */
@media screen and (min-width: 960px) {
  iframe {
    width: 640px;
    height: 360px;
  }

.square {
    width: 640px;
    height: 640px;
  }

  .illustration {
    max-width: 65%px;
  }
}

/* DESKTOP */
@media screen and (min-width: 1200px) {
  iframe {
    width: 960px;
    height: 540px;
  }

  .square {
    width: 960px;
    height: 960px;
  }

  .illustration {
    max-width: 65%;
  }
}
