body {
  background-color: #2E33BC;
  margin: 0;
  padding: 0;
  animation: colorchange linear 20s infinite;
  -webkit-animation: background_colors linear 20s infinite;
}

header {
  padding: 100px 0;
  text-align: center;
}

nav {
  padding: 0 0 100px 0;
  text-align: center;
}

iframe {
  transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
}

/****************/


h1 {
  font: Big Caslon, Times, serif;
  font-weight: normal;
  letter-spacing: 30px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 0 25px;
  color: transparent;
  text-shadow: 0px 0px 20px rgba(255,0,0,1);
  -ms-transform: skewY(-5deg);
  -webkit-transform: skewY(-5deg);
  transform: skewY(-5deg);
  -webkit-text-stroke: 2px red;
  transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
}

h2 {
  font: Big Caslon, Times, serif;
  font-weight: normal;
  letter-spacing: 15px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 0 15px;
  padding: 20px 0;
  color: transparent;
  overflow: visible;
  text-shadow: 0px 0px 15px rgba(255,0,0,1);
  -ms-transform: skewY(-5deg);
  -webkit-transform: skewY(-5deg);
  transform: skewY(-5deg);
  -webkit-text-stroke: 2px red;
  transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
}

h3 {
  font: 20px Big Caslon, Times, serif;
  font-weight: normal;
  letter-spacing: 0px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding: 0;
  color: transparent;
  overflow: visible;
  text-shadow: 0px 0px 10px rgba(255,0,0,1);
  -webkit-text-stroke: 2px red;
  -ms-transform: skewY(5deg);
  -webkit-transform: skewY(5deg);
  transform: skewY(5deg);
  z-index: -1;
}

h4 {
  font: 12px Big Caslon, Times, serif;
  font-weight: normal;
  letter-spacing: 5px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 0 15px;
  padding: 20px 0;
  color: transparent;
  overflow: visible;
  text-shadow: 0px 0px 10px rgba(255,0,0,1);
  -webkit-text-stroke: 2px red;
  -webkit-animation: 1s letter_spacing ease-in-out infinite;
}

a {
  text-decoration: none;
  -webkit-text-stroke: 2px red;
  color: transparent;
}

a:hover {
  -webkit-text-stroke: 2px blue;
  text-shadow: 0px 0px 15px rgba(0,0,255,1);
  -webkit-animation: 3s hue_rotate linear infinite;
}

.contact {
  font: 30px Big Caslon, Times, serif;
  font-weight: normal;
  letter-spacing: 15px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 0 15px;
  color: transparent;
  -webkit-text-stroke: 2px red;
  text-shadow: 0px 0px 15px rgba(255,0,0,1);
}

.skew {
  transform: skewY(-5deg);
  -webkit-transform: skewY(-5deg);
  -ms-transform: skewY(-5deg);
}

.social {
  font: 12px Big Caslon, Times, serif;
  font-weight: normal;
  letter-spacing: 12px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
  color: transparent;
  -webkit-text-stroke: 1px red;
  text-shadow: 0px 0px 15px rgba(255,0,0,1);
  width: 960px;
  margin: auto;
  transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
}

.copyright {
  font: 12px Big Caslon, Times, serif;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  line-height: 25px;
  letter-spacing: 3px;
  height: 100px;
  color: red;
}

.padding {
  height: 200px;
}

.divider {
  width: 960px;
  border-top: 1px solid red;
  margin: auto;
}

@-webkit-keyframes letter_spacing {
  0%   {letter-spacing: 5px;}
  50%  {letter-spacing: 6px;}
  100% {letter-spacing: 5px;}
}

@-webkit-keyframes background_colors {
  0%   {background: #2E33BC;}
  49%  {background: #2E33BC;}
  50%  {background: #F4D4BD;}
  99%  {background: #F4D4BD;}
  100% {background: #2E33BC;}
}

@-webkit-keyframes hue_rotate {
  0% {
    -webkit-filter:hue-rotate(0deg);
  }
  100% {
    -webkit-filter:hue-rotate(360deg);
  }
}

@-webkit-keyframes transform_rotate1 {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

#rotate1 {
  padding: 0px 0px 3px 0px;
  margin: -35px 0 0 7px;
  -webkit-animation: .102s transform_rotate1 linear infinite;
  animation-direction: reverse;
  z-index: -1;
}

#rotate2 {
  padding: 0px 0px 0px 0px;
  -webkit-animation: 5s transform_rotate1 linear infinite;
  z-index: -1;
}

#rotate3 {
  font-size: 10px;
  padding: 0px 0px 0px 0px;
  margin-top: -90px;
  letter-spacing: 10px;
  -webkit-animation: 10ms transform_rotate1 linear infinite;
  animation-direction: reverse;
  z-index: -1;
}

#symbol {
  font-size: 40px;
  color: transparent;
  -webkit-text-stroke: 2px red;
}

#year {
  font-size: 30px;
  font-weight: normal;;
  letter-spacing: 17px;
  padding-left: 10px;
  -webkit-text-stroke: 2px red;
  color: transparent;
}

/****************/

.landscape {
  width: 960px;
  height: 540px;
  transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
}

.square {
  width: 960px;
  height: 960px;
  transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
}

/****************/

.Grid {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  flex-wrap: wrap;
  transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
}

.Grid-cell {
  flex: 1;
  text-align: center;
  padding: 0 0 50px 0;
  transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
  b/order: 1px solid green;
}

/* Base classes for all media */
.Grid--fit > .Grid-cell {
  flex: 1;
}
.Grid--full > .Grid-cell {
  flex: 0 0 100%;
}
.Grid--1of2 > .Grid-cell {
  flex: 0 0 50%
}
.Grid--1of3 > .Grid-cell {
  flex: 0 0 33.3333%
}
.Grid--1of4 > .Grid-cell {
  flex: 0 0 25%
}


/* Small to medium screens */
@media (min-width: 100px) {
  .small-Grid--fit > .Grid-cell {
    flex: 1;
  }
  .small-Grid--full > .Grid-cell {
    flex: 0 0 100%;
  }
  .small-Grid--1of2 > .Grid-cell {
    flex: 0 0 50%
  }
  .small-Grid--1of3 > .Grid-cell {
    flex: 0 0 33.3333%
  }
  .small-Grid--1of4 > .Grid-cell {
    flex: 0 0 25%
  }
  .landscape {
    width: 400px;
    height: 225px;
  }
  .square {
    width: 400px;
    height: 400px;
  }
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 25px;
  }
  iframe {
    width: 400px;
    height: 225px;
  }
  .divider {
    width: 400px;
  }
  .social {
    width: 400px;
    line-height: 30px;
  }
}

/* Small to medium screens */
@media (min-width: 640px) {
  .small-Grid--fit > .Grid-cell {
    flex: 1;
  }
  .small-Grid--full > .Grid-cell {
    flex: 0 0 100%;
  }
  .small-Grid--1of2 > .Grid-cell {
    flex: 0 0 50%
  }
  .small-Grid--1of3 > .Grid-cell {
    flex: 0 0 33.3333%
  }
  .small-Grid--1of4 > .Grid-cell {
    flex: 0 0 25%
  }
  .landscape {
    width: 640px;
    height: 360px;
  }
  .square {
    width: 640px;
    height: 640px;
  }
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 30px;
  }
  iframe {
    width: 640px;
    height: 360px;
  }
  .divider {
    width: 640px;
  }
  .social {
    width: 640px;
    line-height: 35px;
  }
}

/* Large screens */
@media (min-width: 960px) {
  .large-Grid--fit > .Grid-cell {
    flex: 1;
  }
  .large-Grid--full > .Grid-cell {
    flex: 0 0 100%;
  }
  .large-Grid--1of2 > .Grid-cell {
    flex: 0 0 50%
  }
  .large-Grid--1of3 > .Grid-cell {
    flex: 0 0 33.3333%
  }
  .large-Grid--1of4 > .Grid-cell {
    flex: 0 0 25%
  }
  .landscape {
    width: 960px;
    height: 540px;
  }
  .square {
    width: 960px;
    height: 960px;
  }
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 35px;
  }
  iframe {
    width: 960px;
    height: 540px;
  }
  .divider {
    width: 960px;
  }
  .social {
    font: 14px Big Caslon, Times, serif;
    letter-spacing: 16px;
    width: 960px;
    line-height: 40px;
  }
}
