html {
  margin: 30px 0 0 0;
  padding: 0;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000;
}

iframe {
  width: 70%;
  height: 600px;
  border: 0;
}

#header {
  margin: 0 0 30px 0;
}
/* MOBILE */
@media screen and (max-width: 600px) {
  iframe {
  width: 70%;
  height: 200px;
  }
}

/* DESKTOP 
@media screen and (min-width: 600px) {
  iframe {
  width: 70%;
  height: 400px;
  }
}
*/
